<!DOCTYPE html>
<html>
<head>
  <title>NOLAnotify</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  	<%= render :partial => 'layouts/navbar' %>
    <%= render :partial => 'layouts/messages' %>
    <div class="container">
  		<div class="row">
        <div class="span3">
            <div>
              <h3 class="text-success">About</h3>
              <p class="paragraph-font"> Several times a year, there are boil advisories that go out to the city of New Orleans. However, this notice is posted on an obscure government website. This application allows members to receive SMS notifications whenever a notice goes out from the Sewer and Water Board of New Orleans. </p>
            </div>
            <hr>
            <h3 class="text-info">Text Notify</h3>
            <ul class="nav nav-pills">
              <li class="active">
                <a href="#subscribe" data-toggle="tab">Subscribe</a>
              </li>
              <li><a href="#unsubscribe" data-toggle="tab">Unsubscribe</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="subscribe">
                <%= yield %>
              </div> <!--/.TAB1 -->
              <div class="tab-pane team" id="unsubscribe">
                <%= render :partial => 'layouts/unsubscribe' %>
              </div><!--/.TAB2 -->
            </div><!--/.tab-content -->
            <hr>
            <div><!--Resources -->
              <h3 class="muted">Resources</h3>
              <a href="http://www.swbno.org/news_pressreleases.asp"><img src="assets/swnola.png" class="img-link-icons fade-in"/></a>
              <a href="http://www.calblueprint.org/"><img src="assets/blueprint.png" class="img-link-icons fade-in"/></a>
            </div><!--Resources -->
            <hr>
            <div>
              <%= render :partial => 'layouts/donate' %>
            </div>
        </div>
  			<div class="span9">
          <div id="recent_notices">
            <h3 class="text-error">Recent Advisory Notices</h3>
            <%= render :partial => 'layouts/notices' %>
          </div>
        </div>
  		</div>
    </div>
    <hr>
    <div align="center" class="footer">
      <div class="container">
        <p> </a> &copy; 2013 <a href="http://publicservice.berkeley.edu/alternativebreaks">NOLA Alternative Breaks</a> &middot; <a href="https://github.com/Jayyr">Jay Ryoo</a> 
      </div>
    </div><!-- FOOTER -->
  </div><!-- Container -->
</body>
</html>
