<!DOCTYPE html>
<html>
<head>
  <title>Bitcoin Notify</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  	<%= render :partial => 'layouts/navbar' %>
    <%= render :partial => 'layouts/messages' %>
    <div class="container">
  		<div class="row">
        <div class="span3">
            <div>
              <h3 class="text-success">About</h3>
              <p class="paragraph-font"> Be notified of bitcoin prices (source: coinbase.com). </p>
            </div>
            <!-- Button to Launch Modal -->

            <hr>
            <h3 class="text-info">Text Notify</h3>
            <%= yield %>
            <div><!--Resources -->
              <h3 class="muted">Resources</h3>
              <a href="http://www.swbno.org/news_pressreleases.asp"><img src="assets/swnola.png" class="img-link-icons fade-in"/></a>
              <a href="http://www.calblueprint.org/"><img src="assets/blueprint.png" class="img-link-icons fade-in"/></a>
              <a href="http://publicservice.berkeley.edu"><img src="assets/CalCorpsSmall.gif" class="img-link-icons-cc fade-in"/></a>
            </div><!--Resources -->
            <hr>
            <div>
              <div class="row-fluid">
                  <%= render :partial => 'layouts/bitcoin' %>
              </div>
            </div>
            <hr>
            <div>
              <div class="row-fluid">
                <div class="span6">
                  <%= render :partial => 'layouts/donate' %>
                </div>
                <div class="span6">
                  <%= mail_to("nolaswnotice@gmail.com", "Contact", :class=>"btn btn-large btn-block")%>
                </div>
              </div>
            </div>
        </div>
  			<div class="span9">
          <div id="recent_notices">
            <h3 class="text">Bitcoin Prices</h3>
            <%= render :partial => 'layouts/notices' %>
          </div>
        </div>
  		</div>
    </div>
    <hr>
    <div align="center" class="footer">
      <div class="container">
        <p> </a> &copy; 2013 <a href="https://github.com/Jayyr">Jay Ryoo</a> &middot; <%= mail_to("nolaswnotice@gmail.com", "Contact")%>
      </div>
    </div><!-- FOOTER -->
  </div><!-- Container -->
</body>
</html>
