<!DOCTYPE html>
<html>
<head>
  <title>NOLAnotify</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  	<%= render :partial => 'layouts/navbar' %>
    <%= render :partial => 'layouts/messages' %>
    <div class="container">
  		<div class="row">
        <div class="span3">
            <div>
              <h3 class="text-success">About</h3>
              <p class="paragraph-font"> Several times a year, there are boil advisories that go out to the city of New Orleans. However, these notices are posted on an obscure government website. This application allows members to receive SMS notifications whenever a notice goes out from the Sewer and Water Board of New Orleans. </p>
            </div>
            <!-- Button to Launch Modal -->
            <a href="#myModal" role="button" class="btn" data-toggle="modal">Learn More</a>
 
            <!-- Modal -->
            <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">About NOLA Notify</h3>
              </div>
              <div class="modal-body">
                <p>
                  The inspiration for this application came during a trip to New Orleans 
                  during the Spring of 2013. This was my second trip through the Alternative 
                  Breaks Program under the Cal Corps Public Service Center at UC Berkeley. 
                  I had learned a lot about some of the social justice issues surrounding 
                  New Orleans after Hurricane Katrina and wanted to further explore the city 
                  a second time. With 11 other students, I visited the community at the 
                  Lower 9th Ward, the Versailles community in East New Orleans, and an 
                  elementary school in Metairie. A common issue that all of these communities 
                  voiced was of the boil water advisories. The community members would 
                  point out to us how they would learn about boil water notices after 
                  they had already drank and bathed in the water as an example of an issue 
                  that the citizens of New Orleans face. Though it was said in a humorous way 
                  only people who have gotten used to it can express, I wanted to address 
                  the issue in a way that I knew how. Thus NOLA notify was born. Though it is 
                  only a small drop in the bucket, I hope this app will help New Orleanians 
                  mitigate their exposure to unsafe waters.
                  <br><br>
                  -Jay
                </p>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              </div>
            </div>

            <hr>
            <h3 class="text-info">Text Notify</h3>
            <ul class="nav nav-pills">
              <li class="active">
                <a href="#subscribe" data-toggle="tab">Subscribe</a>
              </li>
              <li><a href="#unsubscribe" data-toggle="tab">Unsubscribe</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="subscribe">
                <%= yield %>
              </div> <!--/.TAB1 -->
              <div class="tab-pane team" id="unsubscribe">
                <%= render :partial => 'layouts/unsubscribe' %>
              </div><!--/.TAB2 -->
            </div><!--/.tab-content -->
            <hr>
            <div><!--Resources -->
              <h3 class="muted">Resources</h3>
              <a href="http://www.swbno.org/news_pressreleases.asp"><img src="assets/swnola.png" class="img-link-icons fade-in"/></a>
              <a href="http://www.calblueprint.org/"><img src="assets/blueprint.png" class="img-link-icons fade-in"/></a>
              <a href="http://publicservice.berkeley.edu"><img src="assets/CalCorpsSmall.gif" class="img-link-icons-cc fade-in"/></a>
            </div><!--Resources -->
            <hr>
            <div>
              <div class="row-fluid">
                <div class="span6">
                  <%= render :partial => 'layouts/donate' %>
                </div>
                <div class="span6">
                  <%= mail_to("nolaswnotice@gmail.com", "Contact", :class=>"btn btn-large btn-block")%>
                </div>
              </div>
            </div>
        </div>
  			<div class="span9">
          <div id="recent_notices">
            <h3 class="text-error">Recent Advisory Notices</h3>
            <%= render :partial => 'layouts/notices' %>
          </div>
        </div>
  		</div>
    </div>
    <hr>
    <div align="center" class="footer">
      <div class="container">
        <p> </a> &copy; 2013 <a href="https://github.com/Jayyr">Jay Ryoo</a> &middot; <%= mail_to("nolaswnotice@gmail.com", "Contact")%>
      </div>
    </div><!-- FOOTER -->
  </div><!-- Container -->
</body>
</html>
