<%= form_for @member, :html => { :class => 'form_subscribe' } do |f| %>
  
	<%= f.label :number, :class => 'control-label hidden' %>
	<div class="controls">
	  <%= f.text_field :number, :class => 'input-block-level', :type => 'text', :placeholder => "1234567891" %>
	</div>
    <%= f.label :carrier, :class => 'control-label hidden' %>
    <%= f.select :carrier, [['Carrier',nil]] + @carriers %>
    <%= f.submit 'Subscribe', :class => 'btn btn-primary btn-large btn-block' %>
<% end %>